<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de contact</title>
</head>
<body style="background-color:rgb(41,81,99);">

<h2>Contactez-nous</h2>

  <form style="margin: auto; width: 220px;">
    <label for="name">Nom:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Adresse e-mail:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

    <input type="submit" value="Envoyer">
</form>

</body>
</html>
